<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.item.label}}</label>
      {% if form.item.errors %}<label class="error">{% for error in form.item.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.item}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.fornecedor.label}}</label>
      {% if form.fornecedor.errors %}<label class="error">{% for error in form.fornecedor.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.fornecedor}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.transmissora.label}}</label>
      {% if form.transmissora.errors %}<label class="error">{% for error in form.transmissora.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.transmissora}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.contrato.label}}</label>
      {% if form.contrato.errors %}<label class="error">{% for error in form.contrato.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.contrato}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.nota_fiscal.label}}</label>
      {% if form.nota_fiscal.errors %}<label class="error">{% for error in form.nota_fiscal.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.nota_fiscal}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.codigo.label}}</label>
      {% if form.codigo.errors %}<label class="error">{% for error in form.codigo.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.codigo}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.descricao.label}}</label>
      {% if form.descricao.errors %}<label class="error">{% for error in form.descricao.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.descricao}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.qtn_fornecida.label}}</label>
      {% if form.qtn_fornecida.errors %}<label class="error">{% for error in form.qtn_fornecida.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.qtn_fornecida}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.local_entrega.label}}</label>
      {% if form.local_entrega.errors %}<label class="error">{% for error in form.local_entrega.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.local_entrega}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.data_entrada.label}}</label>
      {% if form.data_entrada.errors %}<label class="error">{% for error in form.data_entrada.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.data_entrada}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.qtn_saida.label}}</label>
      {% if form.qtn_saida.errors %}<label class="error">{% for error in form.qtn_saida.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.qtn_saida}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.data_saida.label}}</label>
      {% if form.data_saida.errors %}<label class="error">{% for error in form.data_saida.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.data_saida}}
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.saldo.label}}</label>
      {% if form.saldo.errors %}<label class="error">{% for error in form.saldo.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.saldo}}
    </div>
  </div>
</div>


<div class="col-sm-12">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.observacoes.label}}</label>
      {% if form.observacoes.errors %}<label class="error">{% for error in form.observacoes.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.observacoes}}
    </div>
  </div>
</div>